body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.gallery img {
    margin: 10px;
    max-width: 200px;
    height: auto;
    transition: transform 0.2s;
    border-radius: 50%; /* Make images circular */
}

.gallery img:hover {
    transform: scale(1.05);
}